@import url(./header_picture.css);
@import url(./navbar.css);
@import url(./story.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
}