@import url(./header_picture.css);
@import url(./navbar.css);
@import url(./story.css);
@import url(./capabilities.css);
@import url(./get_in_touch.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.3px;
  color: #48555B;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.19px;
  color: #48555B;
}

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.19px;
  color: #48555B;
}